<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572230645784-17l6ojafd3p5gdh2dgc6jodnt315i64f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572230645784-17l6ojafd3p5gdh2dgc6jodnt315i64f</string>
	<key>API_KEY</key>
	<string>AIzaSyDlYQ0Il2jSBIp6B1SgmlCeP8ZxlREZXHk</string>
	<key>GCM_SENDER_ID</key>
	<string>572230645784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appliVoyage</string>
	<key>PROJECT_ID</key>
	<string>app-voyage-c1b00</string>
	<key>STORAGE_BUCKET</key>
	<string>app-voyage-c1b00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572230645784:ios:8046ce00096b4efa2c6b6d</string>
</dict>
</plist>